* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #b4e197;
}

body {
  background-color: #f1eee9;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-items: center;
  align-items: center;
  background-image:
    linear-gradient(
      to bottom right,
      rgba(0, 0, 0, 0.9) 20%,
      rgba(241, 238, 233, 0.5)
    );
  height: 300px;
}

nav {
  display: flex;
  margin: 0 auto;
  gap: 100px;
  width: 100%;
  max-width: 800px;
  height: 80px;
}

nav .logo {
  width: 100%;
  max-width: 100px;
}

nav .list-items {
  display: flex;
  width: 400px;
  justify-content: space-between;
  list-style: none;
}

.list-items .list-item {
  padding: 10px;
}

.list-items .list-item a {
  color: #7ad33f;
  font-size: 26px;
  font-weight: 600;
  text-decoration: none;
}

.list-items .list-item:hover {
  color: #b4e197;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #73777b;
  width: 200px;
  height: 300px;
  margin: 10px;
  padding: 20px;
}

.image {
  width: 90%;
}

button {
  padding: 7px;
  font-weight: 700;
  font-size: 17px;
}

#container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  gap: 10% 20%;
  margin: 30px;
  overflow: scroll;
}

#container::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

footer {
  display: flex;
  height: 30px;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border: 4px groove #73777b;
}

.fa-heart {
  color: rgb(215, 40, 69);
  font-size: 27px;
}

.likes-counter {
  font-weight: 700;
}

.likes-container {
  display: flex;
  align-items: center;
  gap: 5px;
}
